
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div class="col-lg-10 text-center">
        <center><h3 class="display-3 text-black-50 animated slideInDown">Logout Successfully</h3></center>
        <center> @Html.ActionLink("Login here", "/Index",null, new { @class = "mb-12" })</center>
    </div>
</body>
</html>
