
@{
    ViewBag.Title = "WelcomeScreen";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="p-4">
                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Add Client</a>
                </div>
            </div>
        </div>
    </div>
</div>